@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Slab:wght@300;700&display=swap');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.nav {
  display: flex;
  align-items: center;
  margin: 0 0 38px;
  padding: 23px 140px 27px 100px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0, rgb(0 0 0 / 6%) 0 1px 2px 0;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  font-family: 'Montserrat', sans-serif;
}

.list li {
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212;
}

.list li:first-of-type {
  color: #0290ff;
  font-size: 30px;
}

.select {
  position: absolute;
  top: 46px;
  left: 40%;
}

.select select {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #121212;
  letter-spacing: 1.9px;
  width: 130px;
  padding: 2px;
  opacity: 0.5;
}

.icon {
  margin-left: auto;
}

.container {
  max-width: 1075px;
  margin: 0 auto;
}

.container ul {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.each-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.top-section {
  flex-direction: column;
  margin-bottom: 10px;
}

.book {
  width: 33.33%;
}

.book ul {
  font-size: 14px;
}

.top-section li:first-of-type {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  opacity: 0.5;
}

.book li:nth-of-type(2) {
  margin-top: 4px;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 700;
}

.top-section li:nth-of-type(3),
.bottom-section,
.btn-text {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
}

.bottom-section {
  width: 58%;
  margin: 0;
}

.bottom-section li:nth-of-type(2) {
  width: 33%;
  display: flex;
  justify-content: center;
  border-right: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  padding: 0 8px;
}

.btn-text {
  border: none;
  background: none;
  font-size: 14px;
}

.update-progress {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  padding-right: 48px;
  position: relative;
}

.update-progress::before {
  content: '';
  border-left: 2px solid #e8e8e8;
  position: absolute;
  top: 33px;
  left: -81px;
  height: 45px;
}

.chapter {
  padding: 0;
  flex-direction: column;
  color: #121212;
}

.chapter li:first-of-type {
  opacity: 0.5;
}

.chapter li:nth-of-type(2) {
  font-size: 16px;
}

.update {
  background: #0290ff;
  border: none;
  color: #f5f6fa;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  width: 180px;
}

.add-new-section {
  max-width: 1044px;
  margin: 0 auto;
  border-top: 2px solid #e8e8e8;
  margin-top: 77px;
}

.add-new-section form {
  display: flex;
  justify-content: space-between;
}

.add-new-section form > * {
  border: 1px solid #e8e8e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #c4c4c4;
  border-radius: 4px;
  padding: 10px;
}

.add-new-section input[type=text] {
  width: 55%;
}

.add-new-section select {
  width: 20%;
  background-color: white;
}

.add-new-section input[type=submit] {
  width: 15%;
  background-color: #0290ff;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
