@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  font-family: 'Montserrat', sans-serif;
}

.list li {
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212;
}

.list li:first-of-type {
  color: #0290ff;
  font-size: 30px;
}

.select {
  position: absolute;
  top: 46px;
  left: 40%;
}

.select select {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #121212;
  letter-spacing: 1.9px;
  width: 130px;
  padding: 2px;
  opacity: 0.5;
}

.icon {
  margin-left: auto;
}

.button {
  background-color: 0290ff;
  color: #fff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
